body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding-top: 40px;
  }
  
  .card {
    background-color: #1e293b;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
  }
  
  .status {
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 8px;
  }
  
  .critical {
    background-color: #dc2626;
    color: white;
  }
  
  .warning {
    background-color: #facc15;
    color: black;
  }
  
  .normal {
    background-color: #22c55e;
    color: white;
  }
  